body {
	font-family: 'Open Sans', sans-serif;

	background-color: #f5f9fc;
	padding-top: 100px;

	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 300;
	}

	.btn {
		cursor: pointer;
		display: inline-block;
		min-height: 1em;
		outline: 0;
		vertical-align: baseline;
		border: none;
		font-size: 1rem;
		background: #e0e1e2 none;
		color: rgba(0,0,0,.6);
		margin: 0 .25em 0 0;
		padding: .8em 1.5em .8em;
		text-transform: none;
		text-shadow: none;
		text-align: center;
		font-weight: 700;
		font-style: normal;
		line-height: 1em;
		border-radius: 0.3rem;
	}

	.btn-hide{
		position: absolute;
		background: none;
		left: 87%;
		font-size: .75rem;
		margin: 0 0 3px 0;
		padding: .2em .2em;
		width: 3%;
		opacity: 0;
	}

	.results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 5px;
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
	}

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover {
				box-shadow: 0 2px 6px 1px #d3d7da;

				.btn-hide {
					opacity: 1;
					transition: .6s;
				}
			}

			.title {
				margin: 7px 0 7px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
			}

			.ticket-content {
				justify-content: space-between;
				word-wrap: break-word;
				font-size: 14px;
				font-weight: 300;
				font-style: normal;
				color: #6a7680;
			}

			footer {

				display: flex;
				justify-content: space-between;

				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}

				.label-list li {
					margin: 0px 5px;
					padding: 5px 15px;
					border: 1px solid #7fb7e3;
					border-radius: 5px;
					display: inline-block;
					background-color: #d4ecfc;
					color: #163145;
				}
			}
		}
	}
}
